body{
    background-color: rgb(5, 155, 155);
    color: rgb(0, 0, 0);
           
}
.font{
font-family: Impact, Charcoal, sans-serif;
font-size: 40px;
letter-spacing: 2.8px;
word-spacing: 6px;
color: #000000;
font-weight: 300;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: capitalize;

}
button:hover{
    background-color: yellow;
    border-bottom: 3px, white;
  }
a{
    font-size: 40px;
    margin-right: 20px;
    text-decoration: underline;
}
.number{
    font-size: 60px;
    font-weight: 400;  
    margin-right: 20px; 
}
.sorteo{
    
    display: flex;
    justify-content: center;
    font-size: 70px;
    
}
.carton1{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.participante1{
    background-color: rgb(180, 244, 52);
    font-size: 30px;
    border: 5px solid #ffffff; 
}
.participante2{
    background-color: rgb(239, 53, 36);
    font-size: 30px;
    border: 5px solid #ffffff; 
}
.acierto{
    border: 5px solid #ffffff; 
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 2.8px;
    word-spacing: 6px;
    color: #000000;
    font-weight: 300;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;

}
.result{
    display: flex;
    justify-content: center;
}

.carton2{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.numSorteado {
  width: 80px;
  height: 40px;
  display: inline-block;
  padding: 20px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6A5ACD;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 20px;
  font-weight: 700;
}

.numSorteado:active {
  background-color: #E6E6FA;
  box-shadow: 0 5px  #E6E6FA;
  transform: translateY(4px);
}

.carton5{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.carton6{
    display: flex;
    justify-content: space-evenly;
}
.carton7{
    display: flex;
    justify-content: space-around;
}

.carton8{
    display: flex;
    justify-content: space-around;
}