body{
    background-color: rgb(0, 4, 4);
    color: rgb(210, 20, 20);
}
button:hover{
    background-color: yellow;
    border-bottom: 3px, white;
  }
a{
    font-size: 50px;
    margin-right: 20px;
    text-decoration: underline;
}
.number{
    font-size: 70px;
    font-weight: 400;  
    margin-right: 20px; 
}
.sorteo{
    
    display: flex;
    justify-content: center;
    font-size: 70px;
    
}
.carton1{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.carton2{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.numSorteado {
  width: 80px;
  height: 40px;
  display: inline-block;
  padding: 20px 25px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6A5ACD;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 20px;
  font-weight: 700;
}

.numSorteado:active {
  background-color: #E6E6FA;
  box-shadow: 0 5px  #E6E6FA;
  transform: translateY(4px);
}

.carton5{
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.carton6{
    display: flex;
    justify-content: space-evenly;
}
.carton7{
    display: flex;
    justify-content: space-around;
}

.carton8{
    display: flex;
    justify-content: space-around;
}