body{
    background-color: aqua;
}

a{
    font-size: 50px;
}
.number{
    font-size: 70px;
    font-weight: 400;   
}
.sorteo{
    display: flex;
    justify-content: center
}
.carton1{
    display: flex;
    justify-content: space-around;
}
.carton2{
    display: flex;
    justify-content: space-evenly;
}
.carton3{
    display: flex;
    justify-content: space-around;
}